.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.signin .signin-text {
    margin-top: 7em;
}

.signin .signin-text h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #005855;
    font-size: 1.3em;
    margin: 0;
}

.signin .signin-inputs {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 18em;
}

.signin .signin-inputs input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 1.6em;
    border-radius: .5em;
    border: 3px solid rgba(0, 88, 85, 0.3);
}

.signin button {
    margin-top: 5em;
    background-color: #FF8139;
    width: 11em;
    height: 3.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 1em;
}