.orgprofile {
    padding-bottom: 20em;
}

.orgprofile-bio {
    display: flex;
}

.orgprofile-bio img {
    width: 7em;
    height: 7em;
    padding: 2em 2em 1em 2em;
}

.orgprofile-bio h3 {
    margin: 0;
}

.orgprofile-bio div {
    padding-top: 1.6em;
}

.orgprofile-contact {
    margin-left: 2em;
}

.orgprofile-contact h4 {
    margin: 0;
}

.orgprofile-questions {
    padding-top: 1.6em;
    margin-left: 2em;
}

.orgprofile-questions h5 {
    margin: 0;
}